<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        
        <!-- WebSocket支援 -->
        <webSocket enabled="true" />
        
        <!-- URL重寫規則 -->
        <rewrite>
            <rules>
                <!-- WebSocket代理規則 -->
                <rule name="WebSocketProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{HTTP_UPGRADE}" pattern="websocket" ignoreCase="true" />
                        <add input="{HTTP_CONNECTION}" pattern="upgrade" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="ws://127.0.0.1:3000/{R:1}" />
                </rule>
                
                <!-- 普通HTTP請求代理 -->
                <rule name="HttpProxy" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        
        <!-- HTTP協議設定 -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Upgrade, Connection" />
            </customHeaders>
        </httpProtocol>
        
        <!-- 預設文件 -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    
    <!-- ASP.NET設定 -->
    <system.web>
        <httpRuntime executionTimeout="300" maxRequestLength="51200" />
        <compilation debug="false" />
    </system.web>
</configuration>







