<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Allow" users="*" />
            </authorization>
        </security>
        <rewrite>
            <rules>
                <rule name="WebSocket" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_UPGRADE}" pattern="websocket" ignoreCase="true" />
                        <add input="{HTTP_CONNECTION}" pattern="upgrade" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" url="ws://127.0.0.1:3000/{R:1}" />
                </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:3000/{R:1}" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="true" />
        <httpProtocol>
            <customHeaders>
                <add name="X-Forwarded-Proto" value="https" />
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Upgrade, Connection" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <httpRuntime executionTimeout="300" maxRequestLength="51200" />
        <compilation debug="false" />
    </system.web>
</configuration>

